# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
venv*/
.env/

# Temp input/output files
temp_inputs/
temp_outputs/

# OS junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Compiled docx/pdf
*.docx
*.pdf

# Log files
*.log
